@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root {
    --button-border-radius: 5px !important;
    --text-button-alignment: left;
    --private-browsing-icon-wh: 20px;
    --private-browsing-icon-top: 15px;
    --private-browsing-icon-transform: 5px;
    --headerbar-navbar-padding:8px 16px 8px 86px;
}


:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-buttonbox:hover .titlebar-restore,
:root[tabsintitlebar] #titlebar:-moz-window-inactive #titlebar-restore:hover{
    background: none !important;
}

#sidebar-search-container,
#bookmarksPanel,
#history-panel,
#bookmarks-view-children,
#historyTree {
    font-size: 0.9em !important;
    background-color: var(--gnome-sidebar-background) !important;
    color: var(--gnome-sidebar-color) !important;
}

/* Menulist */
menulist {
    -moz-appearance: none !important;
}

#contentAreaContextMenu menuitem image,
#contentAreaContextMenu menu image {
    visibility: visible !important;
}

/* Webchat e.g. google meet share screen display select*/
#webRTC-selectWindow-menulist {
    color: var(--gnome-inactive-urlbar-color) !important;
    background: var(--gnome-button-hover-background) !important;
    border-radius: 5px;
}

/* Proton right click menu*/
@media (-moz-proton) {
    #context-navigation>.menuitem-iconic[_moz-menuactive="true"]:not([disabled="true"])>.menu-iconic-left>.menu-iconic-icon {
        background-color: transparent !important;
    }
}

/* fix padding for menu items*/
#appMenu-popup panelview,
#PanelUI-fxa {
    padding: 8px !important;
}

/* fix menu button padding and alignment*/
#PanelUI-menu-button {
    padding-inline-end: 0px !important;
    padding-left: 0px !important;
}

/* Fix alignment of menu*/
panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
    margin-inline: -20px !important;
}

/* Fix bookmarks v92 */
menuseparator {
    -moz-appearance: none !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 3px !important;
    margin-bottom: 2px !important;
}

menupopup>menuitem,
menupopup>menu {
    padding-block: 2px !important;
    min-height: unset !important;
}

#PlacesToolbar menupopup,
#PlacesToolbar menu:not([disabled], :active) {
    --arrowpanel-background: var(--gnome-button-background) !important;
}

#PlacesToolbar menu:[_moz-menuactive],
#PlacesToolbar menu:active,
toolbarbutton.bookmark-item[open="true"] {
    background-color: var(--gnome-button-active-background) !important;
}

.bookmark-item:hover {
    background-color: var(--gnome-button-hover-background) !important;

}
