/* Centre URL bar text input*/
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#urlbar-input {
    transition: transform .1s linear;
    transform: translateX(50%);
    top: 4px;
    position: absolute;
    width: 50%;
    text-align: center !important;
}

/* Unless text input is selected like safari*/
#urlbar[focused] #urlbar-input {
    position: absolute;
    transform: translateX(0);
    transition: all .2s ease;
    width: 100%;
    text-align: left !important;
    ;
}
